<form action="/results" method="post">
  <div class="form-group">
    <label for="user-word">Type a word to search for in the box below:</label>
    <input class="form-control" name="user-word" type="text" placeholder="Your word goes here...">
  </div>
  <div class="form-group">
    <label for="user-sentence">Type a sentence to you want to check against in the box below:</label>
    <input class="form-control" name="user-sentence" type="text" placeholder="Your sentence goes here...">
  </div>
  <button type="submit" name="form-submit" class="btn btn-warning btn-block">Click for results!</button>
</form>
